@use './function' as f;
@use './mixins' as m;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --aside-padding: #{f.rem(24)};
  --main-padding: #{f.rem(24)};
  --main-total-card-padding: #{f.rem(11)};
}

.wrap {
  width: 100%;
  @include m.flex();
}

.container {
  width: 1440px;
  @include m.flex($justify: start);
}
